# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://jdwgrzkxpdehrprcxxhm.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impkd2dyemt4cGRlaHJwcmN4eGhtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA3MjE0MjAsImV4cCI6MjA4NjI5NzQyMH0.L1L46D4-5g3jkV-us4NQAEaS5lnJeg1rSKnAIWb_BCQ
SUPABASE_URL=https://jdwgrzkxpdehrprcxxhm.supabase.co

# JWT
JWT_SECRET=segredo123

# AppDynamics
APPD_API_KEY=b4145965-76de-4f3c-8b21-9d08d4006c69
APPD_ACCOUNT_NAME=fpsfaculdadepernambucanadesaude-prod_0d1c5bc4-c49d-46f0-b64a-59368a4fba07
APPD_ANALYTICS_URL=https://analytics.api.appdynamics.com

# Admin
ADMIN_USER_IDS="admin_teletex"
ADMIN_EMAIL="admin@teletex.com.br"
ADMIN_PASSWORD="T3letex@2025!"

LOGIN_EMAIL=fps@teletex.com.br
LOGIN_PASSWORD=atV24`1FCM4£<9zu
LOGIN_USER_ID=fps_user

PORT=3000
